.cta-section {
  @include media(desktop) {
  }
}

.cta-bg-wrapper {
  padding-top: 68px;
  padding-bottom: 68px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/cta/cta-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 127px;
    padding-bottom: 127px;
    max-width: 1440px;
    background-image: url(../img/cta/cta-bg-desk.png);
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-content-wrapper {
  @include media(desktop) {
  }
}

.cta-text-wrapper {
  @include media(desktop) {
  }
}

.cta-title {
  margin-bottom: 30px;

  @include media(desktop) {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.cta-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
  }
}
