.features-section {
  @include media(desktop) {
  }
}

.features-section-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.features-swiper-container {
  max-width: 231px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

.features-list-item {
  background: rgba(0, 208, 255, 0.1);
  border: 2px solid #00d0ff;
  border-radius: 20px;
  padding: 7px 11px 19px;
  width: 100% !important;
  max-width: 231px;
  display: flex !important;
  flex-direction: column;
  min-height: 311px;
  overflow: hidden;

  @include media(desktop) {
    padding: 7px 13px 29px;
    max-width: 232px;
    min-height: 402px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;

  @include media(desktop) {
  }
}

.features-item-text-wrapper {
  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 22px;
  }
}

.features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-dot {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.6);
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  cursor: pointer;
}

.features-dot.active {
  background: #fff;
  transform: scale(1.3);
}

.features-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  max-width: 294px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  @include media(desktop) {
    font-size: 20px;
    max-width: max-content;
    margin-top: 30px;
  }
}
