.footer {
  background: rgba(0, 208, 255, 0.1);
  border-top: 1px solid #44cff2;
  padding-top: 33px;
  padding-bottom: 33px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
  }
}

.footer-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;

  @include media(desktop) {
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  @include media(desktop) {
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.footer-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}
