.header {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-wrapper {
  @include media(desktop) {
  }
}

.header-bg-wrapper {
  padding-top: 14px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  padding: 0 12px;

  @include media(desktop) {
    padding: 0 22px;
  }
}

.nav {
  background: linear-gradient(
    53deg,
    rgba(21, 41, 79, 0.9) 0%,
    rgba(20, 41, 78, 0.9) 90.78%,
    rgba(100, 152, 249, 0.9) 100%
  );
  border: 1px solid #00d0ff;
  border-radius: 20px;
  padding: 11px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #fff;
}
