.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 406px;
  padding-bottom: 131px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 201px;
    padding-bottom: 281px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  padding: 0 18px;

  @include media(desktop) {
    padding: 0 82px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 61px;
    line-height: 1.11475;
    max-width: 638px;
    margin-bottom: 50px;
  }
}

.hero-first-span {
  color: #63fbff;
}

.hero-second-span {
  color: #754ccc;
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
    max-width: 560px;
  }
}
