<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">The Puzzle Fun Never Ends</h2>
      <p class="about-top-text">
        There are seriously over 500 levels in this thing - I'm still working my
        way through them and haven't gotten bored yet. But that's not all:
      </p>
      <div class="about-content-wrapper">
        <ul class="about-list">
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img1-desk.png"
                media="(min-width: 1440px)"
                width="108"
                height="100"
              />
              <source
                srcset="./img/about/about-img1-mob.png"
                width="62"
                height="57"
              />
              <img
                class="about-img"
                src="./img/about/about-img1-mob.png"
                alt="Screenshot of the game"
                width="62"
                height="57"
                loading="lazy"
              />
            </picture>
            <div class="about-item-text-wrapper">
              <h3 class="about-item-title">New Levels Regularly:</h3>
              <p class="about-item-text">
                The developers actually keep adding new stuff, which is cool
                because you won't run out of content anytime soon.
              </p>
            </div>
          </li>
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img2-desk.png"
                media="(min-width: 1440px)"
                width="96"
                height="89"
              />
              <source
                srcset="./img/about/about-img2-mob.png"
                width="62"
                height="57"
              />
              <img
                class="about-img"
                src="./img/about/about-img2-mob.png"
                alt="Screenshot of the game"
                width="62"
                height="57"
                loading="lazy"
              />
            </picture>
            <div class="about-item-text-wrapper">
              <h3 class="about-item-title">Challenging Obstacles:</h3>
              <p class="about-item-text">
                Unlock difficult levels with obstacles like blockers and limited
                moves.
              </p>
            </div>
          </li>
          <li class="about-list-item">
            <picture>
              <source
                srcset="./img/about/about-img3-desk.png"
                media="(min-width: 1440px)"
                width="96"
                height="89"
              />
              <source
                srcset="./img/about/about-img3-mob.png"
                width="62"
                height="57"
              />
              <img
                class="about-img"
                src="./img/about/about-img3-mob.png"
                alt="Screenshot of the game"
                width="62"
                height="57"
                loading="lazy"
              />
            </picture>
            <div class="about-item-text-wrapper">
              <h3 class="about-item-title">Unlock New Features:</h3>
              <p class="about-item-text">
                As you progress, unlock special boosters and power-ups that help
                you crush more jewels and complete tougher puzzles.
              </p>
            </div>
          </li>
        </ul>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img-desk.png"
              media="(min-width: 1440px)"
              width="316"
              height="359"
            />
            <source
              srcset="./img/about/about-img-mob.png"
              width="180"
              height="205"
            />
            <img
              class="about-bg-img"
              src="./img/about/about-img-mob.png"
              alt="Screenshot of the game"
              width="180"
              height="205"
              loading="lazy"
            />
          </picture>
        </li>
      </div>
      <p class="about-bottom-text">
        Hundreds of levels with increasing difficulty<br />
        Exciting surprises and new challenges await
      </p>
    </div>
  </div>
</section>
