<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <h2 class="section-title cta-title">
            Start Your Puzzle Journey Today!
          </h2>
          <p class="cta-text">
            Give Magic Match a shot - I think you'll really dig it. Whether you
            have a few minutes or hours to spare, this delightful game will keep
            you entertained with its easy-to-learn mechanics and challenging
            levels.
          </p>
          <a
            class="cta-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.wael.magicmatch&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Download Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
