<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">
        Magic Match: Match 3 Game Features
      </h2>
      <p class="features-top-text">
        Here’s why Magic Match will keep you playing for hours:
      </p>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img1-desk.png"
                media="(min-width: 1440px)"
                width="186"
                height="150"
              />
              <source
                srcset="./img/features/features-img1-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img1-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Classic Match-3 Gameplay:</h3>
              <p class="features-item-text">
                Easy to play, hard to master, with hundreds of levels to keep
                you entertained.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img2-desk.png"
                media="(min-width: 1440px)"
                width="186"
                height="150"
              />
              <source
                srcset="./img/features/features-img2-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img2-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Offline Play:</h3>
              <p class="features-item-text">
                No Wi-Fi? No problem! Play Magic Match anytime, anywhere without
                needing an internet connection.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img3-desk.png"
                media="(min-width: 1440px)"
                width="186"
                height="150"
              />
              <source
                srcset="./img/features/features-img3-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img3-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Daily Free Rewards:</h3>
              <p class="features-item-text">
                Log in every day for special boosters, power-ups, and free items
                to help you along the way.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img4-desk.png"
                media="(min-width: 1440px)"
                width="186"
                height="150"
              />
              <source
                srcset="./img/features/features-img4-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img4-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">No Energy System:</h3>
              <p class="features-item-text">
                Play as much as you want without any waiting or restrictions.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img5-desk.png"
                media="(min-width: 1440px)"
                width="186"
                height="150"
              />
              <source
                srcset="./img/features/features-img5-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img5-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Brain-Training Puzzles:</h3>
              <p class="features-item-text">
                No Wi-Fi? No problem! Play Magic Match anytime, anywhere without
                needing an internet connection.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-list-item">
            <picture>
              <source
                srcset="./img/features/features-img6-desk.png"
                media="(min-width: 1440px)"
                width="164"
                height="150"
              />
              <source
                srcset="./img/features/features-img6-mob.png"
                width="130"
                height="105"
              />
              <img
                class="features-img"
                src="./img/features/features-img6-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="105"
                loading="lazy"
              />
            </picture>
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Stunning Visuals and Sounds:</h3>
              <p class="features-item-text">
                The graphics are actually pretty nice - those jewel animations
                are satisfying to watch, and the sound effects don't get
                annoying even after playing for a while.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="controls features-controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="features-dot active"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <p class="features-bottom-text">
        It’s the perfect game for when you need a break or a casual gaming
        session on the go
      </p>
    </div>
  </div>
</section>
