<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <nav class="footer-nav">
        <a class="footer-logo-link" href="./">
          <picture>
            <source
              srcset="./img/footer/footer-logo-desk.png"
              media="(min-width: 1440px)"
              width="133"
              height="144"
            />
            <source
              srcset="./img/footer/footer-logo-mob.png"
              width="73"
              height="80"
            />
            <img
              class="footer-logo-img"
              src="./img/footer/footer-logo-mob.png"
              alt="Logo"
              width="73"
              height="80"
            />
          </picture>
        </a>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" href="./privacy-policy.html"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./terms-and-conditions.html"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </nav>
      <p class="footer-text">© 2026 All rights reserved</p>
    </div>
  </div>
</footer>
