<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">
        How to Play Magic Match: Match 3
      </h2>
      <p class="gameplay-top-text">
        Match 3 or more identical jewels in a row to crush them and clear the
        board. Complete objectives and unlock new levels filled with more
        challenging puzzles. It starts off pretty easy, but man, some of these
        later levels will really make you think.
      </p>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="178"
                height="131"
              />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="130"
                height="95"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="95"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Swap Jewels:</h3>
              <p class="gameplay-item-text">
                Tap a jewel and swap it with an adjacent one to form a line of 3
                or more matching jewels.
              </p>
            </div>
          </li>
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="210"
                height="131"
              />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="130"
                height="81"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="81"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Complete Objectives:</h3>
              <p class="gameplay-item-text">
                Every level has specific objectives. Complete them to move on to
                the next level!
              </p>
            </div>
          </li>
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img3-desk.png"
                media="(min-width: 1440px)"
                width="190"
                height="131"
              />
              <source
                srcset="./img/gameplay/gameplay-img3-mob.png"
                width="130"
                height="90"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Screenshot of the game"
                width="130"
                height="90"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Enjoy the Magic:</h3>
              <p class="gameplay-item-text">
                Relax with the enchanting jewel effects and smooth gameplay.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="controls gameplay-controls">
        <button
          class="arrow-btn"
          id="gameplayLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="gameplay-dot active"></div>
          <div class="gameplay-dot"></div>
          <div class="gameplay-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="gameplayRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <p class="gameplay-bottom-text">
        Simple drag-and-swap mechanics<br />
        Increasing difficulty with each level
      </p>
    </div>
  </div>
</section>
