<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">
        How to Play: Solve Quantum Puzzles
      </h2>
      <p class="gameplay-top-text">
        So here's the deal with BrightKernel - it's basically quantum physics
        meets puzzle game, and trust me, it'll make your brain work in ways you
        didn't expect. Here's how you solve each puzzle:
      </p>
      <div class="gameplay-swiper-container">
        <ul class="swiper-wrapper gameplay-swiper-wrapper">
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="395"
                height="263"
              />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="288"
                height="192"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="288"
                height="192"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Manipulate Kernels:</h3>
              <p class="gameplay-item-text">
                Control particles (kernels) that represent different quantum
                states and move them across the grid.
              </p>
            </div>
          </li>
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="395"
                height="263"
              />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="288"
                height="192"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="288"
                height="192"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Use Quantum Principles:</h3>
              <p class="gameplay-item-text">
                Apply quantum mechanics principles like superposition (particles
                in multiple states) and entanglement (linked particles) to solve
                the puzzle.
              </p>
            </div>
          </li>
          <li class="swiper-slide gameplay-list-item">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img3-desk.png"
                media="(min-width: 1440px)"
                width="395"
                height="263"
              />
              <source
                srcset="./img/gameplay/gameplay-img3-mob.png"
                width="288"
                height="192"
              />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Screenshot of the game"
                width="288"
                height="192"
                loading="lazy"
              />
            </picture>
            <div class="gameplay-item-text-wrapper">
              <h3 class="gameplay-item-title">Create Paths:</h3>
              <p class="gameplay-item-text">
                Link the particles in the correct order to complete each puzzle
                and move to the next stage.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="controls gameplay-controls">
        <button
          class="arrow-btn"
          id="gameplayLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="gameplay-dot active"></div>
          <div class="gameplay-dot"></div>
          <div class="gameplay-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="gameplayRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <p class="gameplay-bottom-text">
        New principles of quantum mechanics are introduced as you advance
        through levels<br />
        Some puzzles have multiple possible solutions, but only one "bright"
        solution is correct
      </p>
    </div>
  </div>
</section>
