<header class="header">
  <div class="header-wrapper">
    <div class="header-bg-wrapper">
      <div class="container header-container">
        <nav class="nav">
          <a href="./index.html" class="header-logo-link">
            <picture>
              <source
                srcset="./img/header/header-logo-desk.png"
                media="(min-width: 1440px)"
                width="221"
                height="57"
              />
              <source
                srcset="./img/header/header-logo-mob.png"
                width="123"
                height="32"
              />
              <img
                class="header-logo-img"
                src="./img/header/header-logo-mob.png"
                alt="Logo"
                width="123"
                height="32"
              />
            </picture>
          </a>
          <ul class="nav-list">
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#home">Home</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#gameplay">Gameplay</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#features">Features</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#about">How to Play</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#cta">Contact</a>
            </li>
          </ul>
          <button class="nav-btn" type="button" aria-label="Open mobile menu">
            <svg class="menu-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>
