<header class="header">
  <div class="header-wrapper">
    <div class="header-bg-wrapper">
      <div class="container header-container">
        <nav class="nav">
          <a href="./index.html" class="header-logo-link">
            <picture>
              <source
                srcset="./img/header/header-logo-desk.png"
                media="(min-width: 1440px)"
                width="69"
                height="75"
              />
              <source
                srcset="./img/header/header-logo-mob.png"
                width="52"
                height="57"
              />
              <img
                class="header-logo-img"
                src="./img/header/header-logo-mob.png"
                alt="Logo"
                width="52"
                height="57"
              />
            </picture>
          </a>
          <ul class="nav-list">
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#home">Home</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#gameplay">Gameplay</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#features">Features</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-list-link" href="./index.html#about">How to Play</a>
            </li>
          </ul>
          <a
            class="header-cta-link"
            href="https://play.google.com/store/apps/details?id=com.wael.magicmatch&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
            >Start Matching!</a
          >
          <button class="nav-btn" type="button" aria-label="Open mobile menu">
            <svg class="menu-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-menu"></use>
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>
