<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Manipulate <span class="hero-first-span">Quantum</span> States,
            Solve the <span class="hero-second-span">Conundrums</span>
          </h1>
          <p class="hero-text">
            Ever wondered what it'd be like to mess around with quantum physics?
            Well, BrightKernel: Quantum Conundrum lets you do exactly that -
            you'll be manipulating tiny digital particles to crack some
            seriously tricky puzzles. You'll need to wrap your head around stuff
            like superposition and entanglement (don't worry, it's cooler than
            it sounds) to connect these particles just right and move on to the
            next brain-twister.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
