<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Match, Swap, and Crush the Jewels in Your Magical Puzzle Journey
          </h1>
          <p class="hero-text">
            Hey there! Ready to dive into Magic Match? It's this addictive
            little puzzle game where you're basically swapping colorful jewels
            around to make matches. Trust me, once you start, you'll be hooked
            for hours. No Wi-Fi? No problem! Play offline anytime, anywhere.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.wael.magicmatch&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Play Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
